.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align items at the start (top) of the container */
  height: 100vh;
}

.box {
  width: 300px; /* Adjust width as needed */
  height: 200px; /* Adjust height as needed */
  background-image: url('../assets/pet.jpg'); /* Adjust the path to match the location of your image */
  background-size: contain; /* Adjusts the size to make sure the entire image is visible */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Center the background image */
  border: 1px solid #000; /* Add border if needed */
  box-shadow: 0 0 10px rgba(50, 45, 45, 0.2); /* Add shadow if needed */
}
